.app {
    width: 500px;
    margin: 0 auto;
  }
  
  input {
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #366dd3;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #2d43e4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

.message-history {
  margin-top: 10px;
}

.message-history div {
  border: 1px solid #322f88;
  padding: 10px;
  margin-bottom: 10px;
}

.message-history p {
  margin: 0;
}

.message-history div.me {
  background-color: #430dda;
}

.message-history div.other {
  background-color: #4a88e7;
}

/* Botones pop-up */
.popup-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 400px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  z-index: 9999;
  overflow-y: auto;
  display: flex; 
  flex-direction: column; 
}

.chat-content {
  flex-grow: 1; /* Add this line to make the content section fill remaining vertical space */
}

.send-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.chat-input {
  margin-right: 10px;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
